body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  color: #cecece;
  height: 100%;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.viewer-count {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  /* font-size: 24px; */
}

.animal-type-display {
  padding-left: 8px;
  margin: 5px 0;
}

#herbivore-display {
  color: #309898;
}

#carnivore-display {
  color: #cb0404;
}

#omnivore-display {
  color: #ffaf2e;
}

#view {
  border: 1px solid;
}

#info {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-top: 100px;
  width: 200px;
}

footer {
  width: 100%;
  margin-top: auto;
  text-align: center;
  color: #cecece;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

button {
  background-color: #161616;
  color: #cecece;
  border: 1px solid #cecece;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #cecece;
  color: #161616;
}

button:disabled {
  background-color: #161616;
  color: #686868;
  border: 1px solid #686868;
  cursor: not-allowed;
}

a {
  color: #6868ce;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #8295f1;
}

.pixel--discord {
  display: inline-block;
  width: 64px;
  height: 64px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 11V8h-1V6h-1V5h-2V4h-3v1H9V4H6v1H4v1H3v2H2v3H1v7h2v1h2v1h2v-2H6v-1h2v1h1v1h6v-1h1v-1h2v1h-1v2h2v-1h2v-1h2v-7ZM9 15H7v-1H6v-2h1v-1h2v1h1v2H9Zm9-1h-1v1h-2v-1h-1v-2h1v-1h2v1h1Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.pixel--github {
  display: inline-block;
  width: 64px;
  height: 64px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M23 9v6h-1v2h-1v2h-1v1h-1v1h-1v1h-2v1h-1v-5h-1v-1h1v-1h2v-1h1v-1h1V9h-1V6h-2v1h-1v1h-1V7h-4v1H9V7H8V6H6v3H5v5h1v1h1v1h2v2H7v-1H6v-1H4v1h1v2h1v1h3v3H8v-1H6v-1H5v-1H4v-1H3v-2H2v-2H1V9h1V7h1V5h1V4h1V3h2V2h2V1h6v1h2v1h2v1h1v1h1v2h1v2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

a.logo {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.logo:hover {
  transform: scale(1.2);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f0f0f0;
    color: #161616;
  }

  button {
    background-color: #f0f0f0;
    color: #161616;
    border: 1px solid #161616;
  }

  button:hover {
    background-color: #f0f0f0;
    color: #161616;
  }

  button:disabled {
    background-color: #f0f0f0;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
    cursor: not-allowed;
  }
}
